<div class="eollistgrade_block">
   {% if is_course_staff %}   
    <div class="wrap-instructor-info" style="display: block;">
        <h2>{{xblock.display_name}}</h2></br>
        <label style="cursor: default;">Estudiantes Calificados: <spin id="calificado">{{calificado}}</spin> de {{ lista_alumnos|length }}</label></br>  
        <a class="button" id="grade-submissions-button"
            href="#grade-1-eollistgrade" style="margin-top: inherit;color: black;"> Calificaciones</a>        
    </div>
    
    <section aria-hidden="true" class="modal2 modal staff-modal" id="grade-1-eollistgrade" style="height: auto" tabindex="-1">
        <div class="inner-wrapper" style="color: black; overflow: auto;text-align: center;">
            <a class='modal_close' href="javascript:void(0);" onclick="$('#lean_overlay').click();"> <i class='fa fa-times'></i> </a>
            
            <h2 style="text-align: center;"><span class="display_name">Calificaciones Estudiantes</span></h2>
            <br/>
            <label style="cursor: default;color: royalblue;" id="eollistgrade_label" ></label>
            <label style="cursor: default;color: red;" id="eollistgrade_wrong_label"></label>
            <div id="grade-info" style="display: block;">
                <table style="text-align: center;margin-left:auto;margin-right:auto;">
                    <thead>
                        <tr>
                            <td>Estudiante</td>
                            <td>Correo</td>
                            <td style="width: 110px;">Puntaje</td>
                            <td>Comentarios</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody id="tabla-alumnos">
                    {% for alumno in lista_alumnos %}
                    <tr id={{alumno.id}}>
                        <td hidden>{{alumno.id}}</td>
                        <td>{{alumno.username}}</td>
                        <td>{{alumno.correo}}</td>
                        <td>
                            <input name='puntaje' class="decimalx" type="text" style="width: 54px;" value="{{alumno.pun}}">&nbsp;&frasl;&nbsp;<label  style="cursor: default;" name="max">{{ xblock.puntajemax }}</label>
                        </td>
                        <td>
                            <input name='comentario' class="comentario" type="text" value={{alumno.com}}>
                        </td>
                        <td>
                            <input type="button" value="Guardar" disabled />                            
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br/>  
            <div class="row">
                <input name="sendall" class="sendall" type="button" style="width: 145px;" value="Guardar Todos" >                
                <input name="cerrar-eollistgrade" class="cerrar-eollistgrade" type="button" style="width: 145px;" value="Cerrar" >
            </div>
        </div>
        
    </section>
    {% else %}
    <div class="wrap-instructor-info" style="display: block;">
        <h2>Calificación</h2>
        <label style="cursor: default;">Estudiante: {{ usuario.username }}</label></br>
        {% if puntaje == '0' %}
            <label style="cursor: default;"> - Aun no a sido calificado</label>  
        {% else %}
            <label style="cursor: default;"> Calidicado con: {{ puntaje }} de {{ xblock.puntajemax }}</label></br>
        {% endif %}
        {% if comentario != '' %}
            <label style="cursor: default;"> Comentarios: {{ comentario }}</label> 
        {% endif %}
        </div>
        {% endif %}
</div>
