.eollistgrade_block ol, .eollistgrade_block li{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.eollistgrade_block .ui-loading, .eollistgrade_block span{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    pointer-events: none;
}

.eollistgrade_block p:last-child {
    margin-bottom: 0;
    text-align: center;
}
.eollistgrade_block .row .col p:last-child {
    margin-bottom: 1.41575em;
    text-align: left;
}
.eollistgrade_block ol {
    list-style: none;
}
.eollistgrade_block ol:last-child {
    margin-bottom: 0;
}
.eollistgrade_block li {
    border: 1px solid #919191;
    margin-bottom: 4px;
}
.eollistgrade_block .row .col li {
    border: none;
    margin-bottom: 4px;
}
.eollistgrade_block .block-tree .outline-button {
    display: flex;
    padding: 10px 0 10px 2px;
    border: none;
    width: 100%;
    text-align: left;
    margin: 0;
    background: none;
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7 !important;
    background-color: aliceblue !important;
}
.eollistgrade_block .truncate {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    display: inline-flex;
    margin-right: 12px;
    max-width: 100%;
}
.eollistgrade_block .block-tree .outline-button .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    color: #0075b4;
    margin-top: auto;
    margin-bottom: auto;
}
.eollistgrade_block .fa-chevron-right:before {
    content: "\f054";
}

.eollistgrade_block .fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
    filter: none;
}
.eollistgrade_block .fa {
    color: #0075b4;
}
.eollistgrade_block .fa-chevron-right:before {
    content: "\f054";
}
.eollistgrade_block table {
    border-collapse: collapse;
  }
  
.eollistgrade_block table, .eollistgrade_block th, .eollistgrade_block td {
    border: 1px solid black;
    vertical-align: middle;
}
.eollistgrade_block .modal2{   
    height: auto !important; 
    width: auto !important;
    left: 0% !important;
    position: relative !important;
    opacity: 1 !important;
    z-index: 11000 !important;    
    top: -320px !important;
    overflow: auto !important;
    margin-left: auto !important;     
    margin-right: auto !important;
    min-width: 650px !important; 
}

.eollistgrade_block .alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f !important;
}

.eollistgrade_block .alert {
    position: relative;
    font-style: italic;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    margin-bottom: 1em;
}
.eollistgrade_block .cerrar-eollistgrade {
    border: 1px solid #fd2626;
    box-shadow: inset 0 1px 0 0 #d43131;
    color: #fff;
    background-color: #ff5d5d;
    background-image: linear-gradient(#f76b6b,#c30000);
    text-shadow: 0 1px 0 #000000;
}
.eollistgrade_block .cerrar-eollistgrade:hover{
    border: 1px solid #fd2626 !important;
    box-shadow: inset 0 1px 0 0 #d43131 !important;
    color: #fff !important;
    background-color: #ff5d5d !important;
    background-image: linear-gradient(#d24f4f,#e63333) !important;
    text-shadow: 0 1px 0 #000000 !important;
}
.eollistgrade_block .modal_close {
    position: relative;
    top: 12px;
    right: 12px;
    left: 98%;
    display: block;
    width: 14px;
    height: 14px;
    color: #333;
    z-index: 2;
  text-decoration: none;
}
.eollistgrade_block .content-info{
    height: 90%;
    min-height: 100px;
    max-height: 650px;
    overflow-y: auto;
}
.eollistgrade_block .is-hidden {
    display: none;
}
.eollistgrade_block .import-export {
    padding-bottom: 5px;
    padding-top: 5px;
}
.eollistgrade_block .modal_close:hover {color: #dadada; transition: .3s ease-in-out;}

.eollistgrade_block p{
    font-size: 100% !important;
    line-height: inherit !important;
}